










.Projeto{
    display: flex;
    align-items: center;
}
.box2{
    width: 12.5rem;
    height: 3.125rem;
    background: green;
    border-radius: 1.875rem;
    border: 3px solid black;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.875rem;
    margin-left: 1.25rem;
}

a:hover{

    color:  rgb(253, 255, 105);
    text-decoration:underline;
    transition: all 6ms ease-in;

}
a{
    text-decoration: none;
    color:white ;
}


.dR{
    display: flex;
    height: 16rem;
    width: 16rem;
    
    
}
.Meio{
    display: flex;

    position: relative;
    top:0.625rem;
}
.tlPalestra{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3.75rem;
    margin-left: 4.375rem;
}
.txtPalestra{
    margin-left: 1.25rem;
    
    font-size: 1.875rem;
    font-weight:500;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.drone{
    font-weight: 800;


}






























